
.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
  width: 500px;
  margin-bottom: 50px;
}

.searchBar {
  flex-grow: 1; /* Ensures the TextField takes up remaining space */
}

.searchButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px; /* Optional: Add spacing between the button and input */
}

.searchButton:hover {
  background-color: #0056b3;
}

.jobSearchContent {
  width: 100%;
}
.filter {
  width: 25%;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.jobs {
  width: 32%;
  float: left;
  padding: 10px;
}


.filter h3 {
  font-size: 22px;
  font-weight: bold;
}

.filter select {
  border: 1px solid black;
  margin-bottom: 15px;
}
.jobType {
  border: 1px solid black;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.jobType label {
  display: block; /* Makes each label start on a new line */
  margin-bottom: 8px; /* Optional: Adds spacing between lines */
}
.filter p {
  padding-bottom: 5px;
  font-weight: bold;
}
.exp_level {
  padding-top: 10px;
}
.rangedisplay {
  padding-bottom: 10px;
}
.jobSearch button {
  background-color: #0d65ca;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.applied_jobs {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 10px;
}
.applied_jobs h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}
.applied_jobs p {
  font-weight: normal;
}
.applied_jobs img {
  width: 80px;
  border-radius: 50%;
}
.job_card {
  display: flex; /* Enables horizontal alignment */
  align-items: center; /* Centers the logo and title vertically */
  gap: 20px; /* Adds space between the logo and the title */
  margin-bottom: 10px; /* Optional: Adds space between each job card */
}
.job_details {
  display: flex; /* Enables horizontal alignment */
  align-items: center; /* Centers the logo and title vertically */
  gap: 60px; /* Adds space between the logo and the title */
  margin-bottom: 10px;
}
.job_details p {
  background-color: rgb(225, 223, 223);
  padding: 5px;
}
.savedJobs h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
  

}
.savedJobs {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 29%;
  float: left;
  margin-right: 50px;
  margin-left: 50px;

}
.savedJobs img {
  width: 50px;
  border-radius: 50%;
}

.savedJobs_card {
  display: flex; /* Enables horizontal alignment */
  align-items: center; /* Centers the logo and title vertically */
  gap: 20px; /* Adds space between the logo and the title */
  margin-bottom: 10px; /* Optional: Adds space between each job card */
}

.savedJobs_details{
  display: flex; /* Enables horizontal alignment */
  align-items: center; /* Centers the logo and title vertically */
  gap: 40px; /* Adds space between the logo and the title */
  margin-bottom: 10px;

}
.savedJobs_details p {
  background-color: rgb(225, 223, 223);
  padding: 5px;
}

.saved_applied_jobs{
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



}